<div class="header">
  <a mat-button routerLink="/home">
    <span class="fa fa-home fa-lg"></span> Home
  </a>
  <a mat-button routerLink="/about">
    <span class="fa fa-user-circle" aria-hidden="true"></span> About
  </a>
  <a mat-button routerLink="/nature">
    <span class="fa fa-tree" aria-hidden="true"></span> Nature
  </a>
  <a mat-button routerLink="/culture">
    <span class="fa fa-university" aria-hidden="true"></span> Culture
  </a>
  <a mat-button routerLink="/food">
    <span class="fa fa-cutlery fa-lg"></span> Food
  </a>

  <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center"
      fxLayoutAlign.gt-sm="center center"
      fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Welcome to Taiwan</h1>
      <p>We will explore the best attractions in Taiwan!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
    </div>
    <div fxFlex></div>
  </div>
</div>
