<div fxFlex>

  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="70">
      <mat-card>
        <h2>Taiwan is not Thailand!</h2>
      </mat-card>
    </div>
    <div fxFlex="30">
      <mat-card>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/1Ril3FsWTi0"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
    </div>
  </div>


  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="70">
      <mat-card>
        <h2>With legacies as varied as its adventure landscape and
          spirited traditions thriving alongside the cream of Asian sophistication, Taiwan is a continent on one green island.</h2>
      </mat-card>
    </div>
    <div fxFlex="30">
      <mat-card>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/dp8xuBqTAUs"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </mat-card>
    </div>
  </div>

</div>
