<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3> Food </h3>
    </div>
  </div>

  <div fxFlex *ngIf="foods" [@expand]>
     <mat-grid-list cols="2" rowHeight="200px">
       <mat-grid-tile *ngFor="let food of foods"
                       [routerLink] = "['/fooddetail', food._id]"
                       appHighlight>
         <img height="200px" width="300px" src="{{BaseURL + food.image}}" alt={{food.name}}>
         <mat-grid-tile-footer>
            <h1 matLine>{{food.name | uppercase}}</h1>
          </mat-grid-tile-footer>
       </mat-grid-tile>
     </mat-grid-list>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <div [hidden]="foods || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>
