<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3> Nature </h3>
    </div>
  </div>

  <div fxFlex *ngIf="mountains" [@expand]>
     <mat-grid-list cols="2" rowHeight="200px">
       <mat-grid-tile *ngFor="let mountain of mountains"
                       [routerLink] = "['/mountaindetail', mountain._id]"
                       appHighlight>
         <img height="200px" src="{{BaseURL + mountain.image}}" alt={{mountain.name}}>
         <mat-grid-tile-footer>
            <h1 matLine>{{mountain.name | uppercase}}</h1>
          </mat-grid-tile-footer>
       </mat-grid-tile>
     </mat-grid-list>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <div [hidden]="mountains || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>
